# shellcheck shell=bash

# REF: https://direnv.net/man/direnv.1.html
# REF: https://direnv.net/man/direnv-stdlib.1.html

if [ ! -e .venv ]; then
	python3 -m venv .venv
	trap 'pip install json-five' EXIT
fi
source .venv/bin/activate
