# shellcheck shell=bash

# REF: https://direnv.net/man/direnv.1.html
# REF: https://direnv.net/man/direnv-stdlib.1.html

# @todo Rather than involving direnv, I should list the `json-five` dependency in pyproject.toml
# @→    and use `uv run` (?) in github_frou mrconfig to run the generate-*-version scripts
# @→    https://docs.astral.sh/uv/concepts/projects/sync/#automatic-lock-and-sync

if [ ! -e .venv ]; then
	python3 -m venv .venv
	trap 'pip install json-five' EXIT
fi
source .venv/bin/activate
